.switch{
    display: flex;
    position: relative;
    height: 28px;
    margin: auto;
    cursor: pointer;
    overflow: hidden !important;
    border-radius: 25px;
}
.switch__box{
    border-radius: 25px;
    border: 2px solid #7e7e7e;
    width: 56px;
    height: 28px;
    appearance: none;
}
.switch__slider{
    border-radius: 20px;
    width: 28px;
    height: 28px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0;
}
@keyframes sliderSize {
    0%{
        width: 30px;
    }30%{
        width: 56px;
    }100%{
        width: 30px;        
    }
    
}
@keyframes sliderSize2 {
    0%{
        width: 30px;
    }30%{
        width: 56px;
    }100%{
        width: 30px;        
    }
    
}
.switch__slider-F{
    transform: translate(0px, 0);
    animation: sliderSize 1s;
    transition: transform 1s ease-in-out;
}
.switch__slider-C{
    transform: translate(28px, 0);
    animation: sliderSize2 1s;
    transition: transform 1s ease-in-out;
}

.switch__temp-F,.switch__temp-C{
    position: absolute;
    top: 0;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7e7e7e;
}
.switch__temp-F{
    left: 0;
}
.switch__temp-C{
    right: 0;    
}
.switch__active{
    color: white;
}