.modal__content_type_image {
    padding: 0;
}

.modal__image {
    width: 100%;
}

.modal__footer {
    margin: 20px 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}
.modal__deleteBtn{
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(255, 76, 0);
    padding: 4px 7px;
    background-color: transparent;
    border-radius: 5px;
    border: 0;
}
.modal__deleteBtn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(255, 76, 0);
}